.page {
	width: 50%;
	margin: auto;
}

.text {
	border: solid black 1px;
	margin-top: 10px;
	padding: 10px;
}

.editing {
	color: red;
}

.left {
	width: 70%;
}

.right {
	width: 29%;
}

.left, .right {
	display: inline-block;
}

button {
	/*float: right;*/
}